/* Main */
/*
main .info .box{
    height: 345px;
}*/
main .planning .box{
    background-color: rgba(0, 0, 0, 0.5);
    height: 729px;
}
main .expert .box{
    height: 280px;
}
main .benefits .box{
    height: 417px;
}
main .about .box{
    height: 632px;
    background-color: rgba(0, 0, 0, 0.5);
}