@import 'debug.css';
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variabili */
:root{
    --bg-blue: #0084FD;
    --bg-l-blue: #B5DDFF;
    --bg-violet: #9792E4;
    --bg-d-grey: #333333;
    --bg-white: white;
    --text-white: white;
    --text-black: black;
}
/* Common */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    all: unset;
    background-color: var(--bg-white);
    padding: 9px 15px;
    color: var(--text-black);
    border-radius: 20px;
    cursor: pointer;

}
/* Typography */
body{
    font-family: 'PT Sans', sans-serif;
}
/* Header */
header{
    background-color: var(--bg-blue);
    color: var(--text-white);
    padding: 15px 0;
    margin-bottom: 50px;
}
header .box.menu-mobile{
    display: none;
}
header .box ul{
    list-style-type: none;
}
header .box li{
    display: inline;
    padding-left: 30px;
}
header .box.menu-mobile i{
    font-size: 18px;
}

/* Main */
main .info{
    gap: 24px;
    margin-bottom: 80px;
}
main .info .box{
    width: calc((100% - 48px) / 3);
    background-color: var(--bg-l-blue);
}
main .info .box.large{
    width: calc(((100% - 48px) / 3) * 2 + 24px);
}
main .planning{
    background-color: var(--bg-violet);
    padding: 130px 0 64px 0;
}
main .planning .container{
    gap: 65px;

}
main .planning .box{
    width: calc((100% - 65px) / 2);
}
main .expert{
    margin-top: 65px;
    text-align: center;
    margin-bottom: 112px;
}
main .expert .box{
    background-color: var(--bg-violet);
    margin-top: 32px;
}
main .expert .box:first-of-type{
    margin-top: 52px;
}
main .benefits{
    background-color: var(--bg-violet);
    padding: 77px 0 64px;
}
main .benefits h2{
    text-align: center;
    color: var(--text-white);
}
main .benefits .container{
    margin-top: 77px;
    gap: 32px;
}
main .benefits .box{
    background-color: var(--bg-white);
    width: calc((100% - 64px) / 3);
}
main .about{
    margin-top: 96px;
    margin-bottom: 155px;
    gap: 32px
}
main .about .box.large{
    width: calc(((100% - 64px) / 3) * 2 + 32px);
}
main .about .box{
    width: calc((100% - 64px) / 3);
}
main .started{
    text-align: center;
    background-color: var(--bg-violet);
    color: var(--text-white);
    padding: 65px 0;
}
/* Footer */
footer{
    text-align: center;
    background-color: var(--bg-d-grey);
    color: var(--text-white);
    padding: 42px 0;
}
/* Responsive */
@media screen and (max-width: 992px){
    header .box.menu{
        display: none;
    }
    header .box.menu-mobile{
        display: block;
    }
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    main .planning .container{
        gap: 35px;
    }
    main .planning .box{
        width: 100%;
    }
    main .benefits .box{
        width: calc((100% - 32px) / 2);
    }
}
@media screen and (max-width: 768px){
    main .planning{
        padding: 64px 0;
    }
    main .info .box,
    main .info .box.large,
    main .about .box,
    main .about .box.large,
    main .benefits .box{
        width: 100%;
    }
    main .about{
        margin-bottom: 80px;
    }
}